{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta tags for character set, compatibility, and viewport -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Page title -->
    <title>CNN Skin Condition Prediction Tool</title>
    <!-- Link to the main stylesheet -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <!-- External script for FontAwesome icons -->
    <script src="https://kit.fontawesome.com/aef800fe70.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- Header section -->
    <div class="header">
      <h1>Basal Cell Carcinoma: <span>Information</span></h1>
    </div>

    <!-- Navigation bar -->
    <nav id="navbar">
      <ul class="navbar-items flexbox-col">
        <li class="navbar-logo flexbox-left">
          <a class="navbar-item-inner flexbox">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <rect width="24" height="2" rx="1" fill="#ffffff"/>
                <rect y="6" width="24" height="2" rx="1" fill="#ffffff"/>
                <rect y="12" width="24" height="2" rx="1" fill="#ffffff"/>
            </svg>
          </a>
        </li>
        <!-- Home -->
        <li class="navbar-item flexbox-left">
          <a href="{% url 'index' %}" class="navbar-item-inner flexbox-left">
            <div class="navbar-item-inner-icon-wrapper flexbox">
              <ion-icon name="home-outline"></ion-icon>
            </div>
            <span class="link-text">Home</span>
          </a>
        </li>
        <!-- BCC Info -->
        <li class="navbar-item flexbox-left">
          <a href="{% url 'BCC' %}" class="navbar-item-inner flexbox-left">
            <div class="navbar-item-inner-icon-wrapper flexbox">
              <ion-icon name="home-outline"></ion-icon>
            </div>
            <span class="link-text">BCC Info</span>
          </a>
        </li>
        <!-- Melanoma Info -->
        <li class="navbar-item flexbox-left">
          <a href="{% url 'Melanoma' %}" class="navbar-item-inner flexbox-left">
            <div class="navbar-item-inner-icon-wrapper flexbox">
              <ion-icon name="home-outline"></ion-icon>
            </div>
            <span class="link-text">Melanoma Info</span>
          </a>
        </li>
        <!-- Nevus Info -->
        <li class="navbar-item flexbox-left">
          <a href="{% url 'Nevus' %}" class="navbar-item-inner flexbox-left">
            <div class="navbar-item-inner-icon-wrapper flexbox">
              <ion-icon name="home-outline"></ion-icon>
            </div>
            <span class="link-text">Nevus Info</span>
          </a>
        </li>
        <!-- References -->
        <li class="navbar-item flexbox-left">
          <a href="{% url 'References' %}" class="navbar-item-inner flexbox-left">
            <div class="navbar-item-inner-icon-wrapper flexbox">
              <ion-icon name="folder-open-outline"></ion-icon>
            </div>
            <span class="link-text">References</span>
          </a>
        </li>
        <!-- Specifications -->
        <li class="navbar-item flexbox-left">
          <a href="{% url 'Specifications' %}" class="navbar-item-inner flexbox-left">
            <div class="navbar-item-inner-icon-wrapper flexbox">
              <ion-icon name="pie-chart-outline"></ion-icon>
            </div>
            <span class="link-text">Specifications</span>
          </a>
        </li>
        <!-- Privacy -->
        <li class="navbar-item flexbox-left">
          <a href="{% url 'Privacy' %}" class="navbar-item-inner flexbox-left">
            <div class="navbar-item-inner-icon-wrapper flexbox">
              <ion-icon name="people-outline"></ion-icon>
            </div>
            <span class="link-text">Privacy</span>
          </a>
        </li>
        <!-- About me -->
        <li class="navbar-item flexbox-left">
          <a href="{% url 'AboutMe' %}" class="navbar-item-inner flexbox-left">
            <div class="navbar-item-inner-icon-wrapper flexbox">
              <ion-icon name="settings-outline"></ion-icon>
            </div>
            <span class="link-text">About me</span>
          </a>
        </li>
      </ul>
    </nav>

    <!-- Main content -->
    <main>
        <div>
            <h2>Overview</h2>
            <p>
                Basal cell carcinoma (BCC) is a prevalent form of skin cancer that originates in the basal
                cells, the deepest layer of the epidermis. This slow-growing cancer typically manifests as
                abnormal, uncontrolled growths, often presenting as pearly nodules, translucent bumps, or
                open sores. Although BCC rarely metastasizes to other organs, its local invasiveness can
                lead to tissue destruction if not addressed in a timely manner.
            </p>
        </div>

        <div>
            <h2>Causes and Risk Factors</h2>
            <ul class="with-bullets">
                <li>Excessive sun exposure</li>
                <li>Sunburns</li>
                <li>Fair skin</li>
                <li>Genetic predisposition</li>
                <li>Exposure to ionizing radiatsion</li>
                <li>Exposure to certain environmental toxins</li>
            </ul>
        </div>

        <div>
            <h2>Symptoms</h2>
            <p>
                Recognizing BCC involves identifying persistent changes in the skin, such as the appearance
                of new growths or alterations in existing moles. Common symptoms include the development of
                pearly or waxy nodules, non-healing sores, or scar-like lesions.
            </p>
        </div>

        <div>
            <h2>Treatment</h2>
            <p>
                Treatment modalities for BCC encompass surgical excision, Mohs micrographic surgery for
                precise removal, cryotherapy to freeze cancer cells, and topical medications. The choice
                of treatment depends on factors like the tumor's size, depth, and location.
            </p>
        </div>

        <div>
            <h2>Prevention</h2>
            <p>
                Preventive measures against BCC involve diligent sun protection, including the use of sunscreen
                and protective clothing. Regular self-examinations and professional skin checks contribute to
                early detection and intervention.
            </p>
        </div>

        <div>
            <p>
                This overview provides a glimpse into the pathology of BCC. For a comprehensive understanding of
                your specific situation, consult with a healthcare professional.
            </p>
        </div>

        <!-- BCC Image -->
        <div class="wrapper">
            <img
               src="{% static 'images/BCC.png' %}"
               width="80%"
               height="auto">
        </div>

        <!-- Back to main page button -->
        <div class="wrapper">
            <a href="{% url 'index' %}"><button class="old-button">Back to main page</button></a>
        </div>

    </main>

    <!-- Bottom disclaimer section -->
    <div class="bottom">
      <h4>
          <i class="fa-solid fa-triangle-exclamation" style="color: #ff8040;"></i>
          <span> Disclaimer: </span> This AI-powered skin condition classifier is a tool for informational purposes only; it is not a substitute for professional medical advice.</h4>
    </div>

    <!-- Script tag for the main JavaScript file -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
