{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CNN Skin Condition Prediction Tool</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <script src="https://kit.fontawesome.com/aef800fe70.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="header">
      <h1>References</h1>
    </div>

    <nav id="navbar">
      <ul class="navbar-items flexbox-col">
        <li class="navbar-logo flexbox-left">
          <a class="navbar-item-inner flexbox">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <rect width="24" height="2" rx="1" fill="#ffffff"/>
                <rect y="6" width="24" height="2" rx="1" fill="#ffffff"/>
                <rect y="12" width="24" height="2" rx="1" fill="#ffffff"/>
            </svg>
          </a>
        </li>
        <li class="navbar-item flexbox-left">
          <a href="{% url 'index' %}" class="navbar-item-inner flexbox-left">
            <div class="navbar-item-inner-icon-wrapper flexbox">
              <ion-icon name="home-outline"></ion-icon>
            </div>
            <span class="link-text">Home</span>
          </a>
        </li>
        <li class="navbar-item flexbox-left">
          <a href="{% url 'BCC' %}" class="navbar-item-inner flexbox-left">
            <div class="navbar-item-inner-icon-wrapper flexbox">
              <ion-icon name="home-outline"></ion-icon>
            </div>
            <span class="link-text">BCC Info</span>
          </a>
        </li>
        <li class="navbar-item flexbox-left">
          <a href="{% url 'Melanoma' %}" class="navbar-item-inner flexbox-left">
            <div class="navbar-item-inner-icon-wrapper flexbox">
              <ion-icon name="home-outline"></ion-icon>
            </div>
            <span class="link-text">Melanoma Info</span>
          </a>
        </li>
        <li class="navbar-item flexbox-left">
          <a href="{% url 'Nevus' %}" class="navbar-item-inner flexbox-left">
            <div class="navbar-item-inner-icon-wrapper flexbox">
              <ion-icon name="home-outline"></ion-icon>
            </div>
            <span class="link-text">Nevus Info</span>
          </a>
        </li>
        <li class="navbar-item flexbox-left">
          <a href="{% url 'References' %}" class="navbar-item-inner flexbox-left">
            <div class="navbar-item-inner-icon-wrapper flexbox">
              <ion-icon name="folder-open-outline"></ion-icon>
            </div>
            <span class="link-text">References</span>
          </a>
        </li>
        <li class="navbar-item flexbox-left">
          <a href="{% url 'Specifications' %}" class="navbar-item-inner flexbox-left">
            <div class="navbar-item-inner-icon-wrapper flexbox">
              <ion-icon name="pie-chart-outline"></ion-icon>
            </div>
            <span class="link-text">Specifications</span>
          </a>
        </li>
        <li class="navbar-item flexbox-left">
          <a href="{% url 'Privacy' %}" class="navbar-item-inner flexbox-left">
            <div class="navbar-item-inner-icon-wrapper flexbox">
              <ion-icon name="people-outline"></ion-icon>
            </div>
            <span class="link-text">Privacy</span>
          </a>
        </li>
        <li class="navbar-item flexbox-left">
          <a href="{% url 'AboutMe' %}" class="navbar-item-inner flexbox-left">
            <div class="navbar-item-inner-icon-wrapper flexbox">
              <ion-icon name="settings-outline"></ion-icon>
            </div>
            <span class="link-text">About me</span>
          </a>
        </li>
      </ul>
    </nav>

    <main>

        <div>
            <h2>Skin alterations</h2>
            <ul class="with-bullets">
                <li>Holme, S. A., Malinovszky, K., & Roberts, D. L. (2000). Changing trends in non-melanoma skin
                    cancer in South Wales, 1988–98. British Journal of Dermatology, 143(6), 1224-1229.</li>
                <li>Khan, M. Q., Hussain, A., Rehman, S. U., Khan, U., Maqsood, M., Mehmood, K., & Khan, M. A.
                    (2019). Classification of melanoma and nevus in digital images for diagnosis of skin cancer.
                    IEEE Access, 7, 90132-90144.</li>
                <li>Katalinic, A., Kunze, U., & Schäfer, T. (2003). Epidemiology of cutaneous melanoma and
                    non-melanoma skin cancer in Schleswig-Holstein, Germany: incidence, clinical subtypes, tumour
                    stages and localization (epidemiology of skin cancer). British Journal of Dermatology, 149(6)
                    , 1200-1206.</li>
                <li>Madan, V., Lear, J. T., & Szeimies, R. M. (2010). Non-melanoma skin cancer. The lancet,
                    375(9715), 673-685.
                </li>
                <li>NIH: National Cancer Institute. (2019, December 16). Melanoma. Retrieved October 15, 2023,
                    from <a href="https://medlineplus.gov/melanoma.html">https://medlineplus.gov/melanoma.html</a></li>
                <li>NIH: National Cancer Institute. (2022). Cancer Stat Facts: Melanoma of the Skin. Retrieved October
                    15, 2023, from <a href="https://seer.cancer.gov/statfacts/html/melan.html">https://seer.cancer.gov/statfacts/html/melan.html</a></li>
                <li>MiiSkin. (2023). Skin Cancer. Retrieved December 19, 2023, from
                    <a href="https://miiskin.com/skin-cancer/">https://miiskin.com/skin-cancer/</a></li>
            </ul>
        </div>

        <div>
            <h2>Figures</h2>
            <h3><span>Basal Cell Carcinoma</span></h3>
            <ul class="with-bullets">
                <li>MiiSkin. (2023). Basal Cell Carcinoma. Retrieved December 19, 2023, from
                    <a href="https://miiskin.com/skin-cancer/basal-cell-carcinoma/">
                        https://miiskin.com/skin-cancer/basal-cell-carcinoma/</a></li>
            </ul>
            <h3><span>Melanoma</span></h3>
            <ul class="with-bullets">
                <li>MiiSkin. (2023). Melanoma. Retrieved December 19, 2023, from
                    <a href="https://miiskin.com/skin-cancer/melanoma/">
                        https://miiskin.com/skin-cancer/melanoma/</a></li>
                <li>FamilyCaregiversOnline. (September 16, 2021). What is Melanoma? Learn the ABCDE of Moles.
                    Retrieved December 19, 2023, from
                    <a href="https://familycaregiversonline.net/what-is-melanoma-learn-the-abcde-of-moles/">
                        https://familycaregiversonline.net/what-is-melanoma-learn-the-abcde-of-moles/</a></li>
            </ul>
            <h3><span>Nevus</span></h3>
            <ul class="with-bullets">
                <li>MiiSkin. (2023). Moles. Retrieved December 19, 2023, from
                    <a href="https://miiskin.com/skin-cancer/moles/">https://miiskin.com/skin-cancer/moles/</a></li>
                <li>FamilyCaregiversOnline. (September 16, 2021). What is Melanoma? Learn the ABCDE of Moles.
                    Retrieved December 19, 2023, from
                    <a href="https://familycaregiversonline.net/what-is-melanoma-learn-the-abcde-of-moles/">
                        https://familycaregiversonline.net/what-is-melanoma-learn-the-abcde-of-moles/</a></li></li>
            </ul>
        </div>

        <div class="wrapper">
            <a href="{% url 'index' %}"><button class="old-button">Back to main page</button></a>
        </div>

    </main>

    <div class="bottom">
      <h4>
          <i class="fa-solid fa-triangle-exclamation" style="color: #ff8040;"></i>
          <span> Disclaimer: </span> This AI-powered skin condition classifier is a tool for informational purposes only; it is not a substitute for professional medical advice.</h4>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
